---
import GradientButton from '@components/GradientButton.astro'
import GradientText from '@components/GradientText.astro'
import Input from '@components/Input.astro'
import Section from '@layouts/Section.astro';
---
<Section>
  <div class='font-normal text-center flex flex-col items-center gap-10 h-full justify-center my-4'>
    <h1 class='lg:text-7xl text-3xl font-bold'>
      <GradientText text='Maximize Shortlisting Success' />
    </h1>
  
    <p class='text-lg text-[#939DB8]'>
      Tyup empowers students to excel in campus placements. With its
      comprehensive ecosystem connecting students, colleges and companies,
      shortlisting success becomes achievable..
    </p>
  
    <form
      action='https://formspree.io/f/xrgwrrga'
      method='POST'
      class='flex flex-col gap-4 w-96'
    >
      <!-- College Name Input -->
      <Input type="text" name="College" placeholder="College Name" required={true} />
  
      <!-- Email Input -->
      <Input type="email" name="Email" placeholder="Email" required={true} />
  
      <!-- Submit Button -->
      <GradientButton buttonType='submit' className='text-lg p-4' text='Join Waitlist' />
    </form>
  </div>
</Section>
