---
import { Image } from 'astro:assets'
---

<section
  class='flex flex-col items-center justify-center gap-10 py-28 bg-white relative'
>
  <!-- <div
    class='absolute left-[20%] top-[-40%] w-[60vw] h-[70vh] text-center bg-[#04050C] rounded-[32px] py-20'
  >
    <p class='text-2xl'>One platform for everything.</p>
    <h1 class='text-7xl py-5'>Just Apply!</h1>
    <GlowBox size='h-[250px] w-[200px]' blur={100} />
  </div> -->
  <h1
    class='lg:text-7xl text-3xl py-10 text-transparent bg-clip-text bg-gradient-to-r from-[#0C0C14] to-[#194DAB] whitespace-nowrap'
  >
    Streamlined Placement Season
  </h1>
  <Image src='/union.svg' alt={'union'} width={160} height={60} />
  <div class='text-[#939DB8] text-xl flex gap-9 text-center max-w-[1300px]'>
    <p class='w-[30%]'>Keep your applications organized effortlessly.</p>
    <p class='w-[30%]'>
      View responses, assessments, and interviews at a glance.
    </p>
    <p class='w-[30%]'>
      View responses, assessments, and interviews at a glance.
    </p>
  </div>
</section>
