---
import { ViewTransitions } from 'astro:transitions'

import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

import GoogleAnalytics from '@analytics/GoogleAnalytics.astro'
import Clarity from '@analytics/Clarity.astro'

interface Props {
  title: string
  description?: string
}

const {
  title,
  description = 'A Complete Solution For Every Campus Placement Requirement. Elevating College Placement Success through Seamless Connections, Precision Hiring, and a Transformative Student Experience'
} = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta
      name='keywords'
      content='tyup, campus placement, recruitment, tie up, campus jobs'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/tyup-light.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- Production Level Analytics -->
    {
      import.meta.env.PROD && (
        <>
          <Clarity />
          <GoogleAnalytics />
        </>
      )
    }

    <!-- Google Fonts -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap'
      rel='stylesheet'
    />

    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      html {
        color: white;
        background: #0c0c14;
      }

      a {
        cursor: pointer;
      }

      h1,
      h2 {
        font-weight: 700;
        /* color: #939db81a; */
      }
    </style>
  </body>
</html>
