---
// Layout
import Layout from '@layouts/Layout.astro'

// Components
import Navbar from '@components/Navbar.astro'

// Sections
import HeroSection from '@sections/org/Hero.astro'
import EcosystemSection from '@sections/org/Ecosystem.astro'
import Information from '@sections/org/Information.astro'
import Waitlist from '@sections/org/Waitlist.astro'

export const prerender = true
---

<Layout title='Tyup: Revolutionize Placements'>
  <main>
    <Navbar />

    <!-- Hero Section -->
    <HeroSection />

    <!-- Ecosystem Section -->
    <EcosystemSection />

    <!-- Privacy & Features Section -->
    <Information />

    <!-- Waitlist -->
    <Waitlist />
  </main>
</Layout>
