---
// Layout
import Layout from '@layouts/Layout.astro'

// Components
import Navbar from '@components/Navbar.astro'

// Sections
import Hero from '@sections/recruit/Hero.astro'
import Features from '@sections/recruit/Features.astro'
import CTA from '@sections/recruit/CTA.astro'

export const prerender = true
---

<Layout title='Tyup Recruit: Revolutionize Placements'>
  <Navbar />
  <main>
    <Hero />
    <Features />
  </main>
  <CTA />
</Layout>
