---
import { Image } from 'astro:assets'
import CompaniesInfo from '@constants/students/information'
---

<div class='flex flex-wrap gap-2'>
  {
    CompaniesInfo.map(() => {
      return (
        <Image
          class='filter grayscale-[96%]'
          src='/redis.svg'
          alt='Hello '
          width={160}
          height={160}
        />
      )
    })
  }
</div>
