---
interface Props {
  direction?: 'horizontal' | 'vertical'
  color?: string
}

const { direction = 'horizontal', color = 'bg-white' } = Astro.props
---

<div
  class=`${color}/10 ${direction === 'horizontal' ? 'w-full h-px my-2' : 'w-px h-full mx-2'}`
>
</div>
