---
import Icon from 'astro-icon'

import GradientButton from './GradientButton.astro'
import Section from '@layouts/Section.astro'

import Logo from '@components/Logo.astro'
import Tag from '@components/Tag.astro'

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1, pathname.length - 1)

interface Routes {
  name: string
  path: string
}

const routes: Routes[] = [
  {
    name: 'Students',
    path: 'mate'
  },
  {
    name: 'Universities',
    path: 'campus'
  },
  {
    name: 'Companies',
    path: 'recruit'
  }
]
---

<header class='sticky top-0 z-10 bg-primary-black'>
  <Section>
    <nav
      class='flex flex-row h-14 shadow-md border-b border-white/10 justify-between px-2'
    >
      <div class='flex items-center lg:w-100 w-auto lg:gap-20 h-full'>
        <!-- Laptop Brand Logo -->
        <a href='/' class='lg:block hidden'>
          <Logo logoType='light' name='' />
        </a>

        <!-- Mobile Brand Logo -->
        <a
          href={`/${currentPath}`}
          class='flex flex-row gap-1 items-center lg:hidden'
        >
          <Logo logoType='light' name={currentPath} />
          <Tag text='Alpha' />
        </a>

        <!-- Laptop Routes -->
        <div class='lg:flex flex-row gap-10 h-full hidden'>
          {
            routes.map((route) => {
              return (
                <a href={`/${route.path}`} class='hover:cursor-pointer'>
                  <div
                    class={`flex items-center justify-center h-full hover:text-accent hover:border-b hover:border-primary-blue ${
                      currentPath === route.path &&
                      'border-b border-primary-blue'
                    }`}
                  >
                    {route.name}
                  </div>
                </a>
              )
            })
          }
        </div>
      </div>
      <div class='flex items-center'>
        <!-- Login Button in Laptop -->
        <div class='lg:block hidden'>
          <GradientButton text='Log in' path='/login' />
        </div>

        <!-- Menu Button in Mobile -->
        <div class='lg:hidden block cursor-pointer'>
          <Icon width={30} name='mdi:menu' />
        </div>
      </div>
    </nav>
  </Section>
</header>
