---
// Layout
import Layout from '@layouts/Layout.astro'

// Components
import Navbar from '@components/Navbar.astro'

// Sections
import Hero from '@sections/campus/Hero.astro'
import Features from '@sections/campus/Features.astro'
import Benefits from '@components/Benefits.astro'
import CallToAction from '@components/CallToAction.astro'

const contactPath = new URL(Astro.request.url).pathname + '/contact'

export const prerender = true
---

<Layout title='Tyup Campus: Revolutionize Placements'>
  <Navbar />
  <main>
    <Hero />
    <Features />
    <!-- <Benefits /> -->
    <CallToAction
      name='campus'
      title='Your End-to-End Solution for Campus Success '
      description='Unlock the Power of Seamless College-Company Connections, Streamlined Verification, and Unmatched Success'
      buttonText='Join Waitlist'
      path={contactPath}
    />
  </main>
</Layout>
