---
// Layout
import Layout from '@layouts/Layout.astro'

// Components
import Navbar from '@components/Navbar.astro'

// Sections
import Hero from '@sections/campus/Hero.astro'
import Features from '@sections/campus/Features.astro'
import Benefits from '@components/Benefits.astro'
import CallToAction from '@components/CallToAction.astro'
// import CTA from '@sections/recruit/CTA.astro'
---

<Layout title='Tyup Campus: Revolutionize Placements'>
  <Navbar />
  <main>
    <Hero />
    <Features />
    <!-- <CTA /> -->
    <Benefits/>
    <CallToAction
    name='campus'
    title='Your End-to-End Automated Platform for Better, Faster Hiring'
    description='Revolutionize your hiring process with speed and precision. Our end-to-end automation delivers top talent for your organization effortlessly.'
    buttonText='Contact Us'
    path='#'
  />
  </main>
</Layout>
