---
// Layout
import Layout from '@layouts/Layout.astro'

// Components
import Navbar from '@components/Navbar.astro'

// Sections
import HeroSection from '@sections/org/Hero.astro'
import EcosystemSection from '@sections/org/Ecosystem.astro'
import CTA from '@sections/org/CTA.astro'
---

<Layout title='Tyup: Revolutionize Placements'>
  <main>
    <Navbar />

    <!-- Hero Section -->
    <HeroSection />

    <!-- Ecosystem Section -->
    <EcosystemSection />

    <!-- CTA Section -->
    <CTA />
  </main>
</Layout>
