---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'

import Layout from '@layouts/Layout.astro'

import GradientText from '@components/GradientText.astro'
import Navbar from '@components/Navbar.astro'
import GradientButton from '@components/GradientButton.astro'

import curvedDash from '@assets/curved-dash.svg'
import splash from '@assets/splash.svg'
---

<Layout title='Tyup: Revolutionize Placements'>
  <main class='px-2'>
    <div class='my-2'>
      <Navbar />
      <div class='lg:grid lg:grid-cols-3'>
        <div class='lg:flex lg:flex-col lg:col-span-2 justify-center h-screen'>
          <!-- Laptop Hero Heading -->
          <div class='flex flex-col gap-2 text-6xl font-bold lg:block hidden'>
            <div class='flex flex-row gap-2 h-14'>
              <span>A Complete</span>
              <span class='flex flex-col'>
                <GradientText text={'Solution'} />
                <Image class='w-[226px]' src={curvedDash} alt={'Curved Dash'} />
              </span>
              <span>For</span>
            </div>
            <div class='flex flex-row gap-2'>
              <span>Every</span>
              <div class='relative flex flex-row pr-4'>
                <GradientText text={'Campus Placement'} />
                <Image
                  class='w-16'
                  class='absolute right-0 top-0'
                  src={splash}
                  alt='Splash'
                />
              </div>
            </div>
            <div>Requirement</div>
          </div>

          <!-- Mobile Hero Heading -->
          <div
            class='flex flex-col gap-3 text-4xl font-bold items-center lg:hidden'
          >
            <div class='flex flex-row gap-2'>
              <span>A Complete</span>
            </div>
            <div class='flex flex-row gap-2'>
              <span class='flex flex-col'>
                <GradientText text={'Solution'} />
                <Image class='w-[140px]' src={curvedDash} alt={'Curved Dash'} />
              </span>
              <span>For</span>
              <span>Every</span>
            </div>
            <div class='relative pr-6'>
              <GradientText text={'Campus Placement'} />
              <Image
                width={20}
                class='absolute right-0 top-0'
                src={splash}
                alt='Splash'
              />
            </div>
            <span>Requirement</span>
          </div>

          <!-- Subtitle -->
          <div
            class='text-accent mt-6 lg:w-2/3 w-full lg:text-left text-center'
          >
            <p>
              Elevating College Placement Success through Seamless Connections,
              Precision Hiring, and a Transformative Student Experience, Paving
              the Way for Your Future with End-to-End Automation. Experience the
              Power of Precision and Success in One Platform. Check out all
              three platforms!!
            </p>
          </div>

          <!-- Explore Button -->
          <div class='my-8 w-60 h-12'>
            <GradientButton text='Explore' />
          </div>

          <div class='lg:w-96 w-full pl-4 border-l-2 border-primary-blue'>
            "Tyup is one of the best products I've ever used for my company.
            Went from 0-100 on logging in 10 minutes. Incredible"
          </div>
          <div class='pl-4 my-4 flex flex-row gap-2'>
            <Icon width={20} class='text-primary-blue' name='mdi:twitter' />
            <span class='text-accent text-sm'
              >Prateek Shukla | Founder & CEO of Masai School</span
            >
          </div>
        </div>
        <div class=''>Right</div>
      </div>
    </div>
  </main>
</Layout>
