---
// Layout
import Layout from '@layouts/Layout.astro'

// Components
import Navbar from '@components/Navbar.astro'

// Sections
import HeroSection from '@sections/org/Hero.astro'
import EcosystemMobile from '@sections/org/mobile/Ecosystem.astro'
---

<Layout title='Tyup: Revolutionize Placements'>
  <main class='px-2'>
    <Navbar />
    <!-- Hero Section -->
    <HeroSection />
    <!-- Hero Section End -->

    <!-- Ecosystem Section Start -->
    <EcosystemMobile />
  </main>
</Layout>
