---
import Layout from '@layouts/Layout.astro';
import GradientText from '@components/GradientText.astro';
import Navbar from '@components/Navbar.astro';
import PlacementSession from '@components/Student/PlacementSession.astro';
import Hero from '@components/Student/Hero.astro'
// import Companies from '@components/Companies.astro'
import Benefits from '@components/Benefits.astro';
import Companies from '@components/Companies.astro';

---
<div>


<Layout title='Tyup Mate: Revolutionize Placements'>
  <main class="px-2">
    <Navbar />
    <div class="flex flex-col justify-center items-center h-screen">
      <h1 class='text-4xl font-bold'>
        <Hero/>
        <div class="flex flex-col items-center justify-center my-20 border-t-[1px] border-b-[1px] border-t-[#939db81a] border-b-[#939db81a] bg-[#0C0C14]">
          <!-- <hr class=" w-full"> -->
          <p class="text-base py-6 pt-12">Relied on by the India’s best companies</p>
          <Companies/>
          <!-- <hr class=" w-full"> -->
        </div>
        
        <!-- Welcome to Tyup Mate. -->
        <!-- <GradientText text="Let's Develop" /> -->
      </h1>
    </div>
  </main>
 
</Layout>
<PlacementSession/>
<Benefits/>
</div>