---
// Layout
import Layout from '@layouts/Layout.astro'

// Components
import Navbar from '@components/Navbar.astro'

// Sections
import Hero from '@sections/recruit/Hero.astro'
---

<Layout title='Tyup Recruit: Revolutionize Placements'>
  <Navbar />
  <main>
    <Hero />
  </main>
</Layout>
