---
import Section from '@layouts/Section.astro'
import CallToActionHome from '@components/CallToActionHome.astro'
---

<Section>
  <CallToActionHome
    name=''
    title='Our Commitment to Trust and Transparency'
    description='Get Ahead with Tyup'
    buttonText='Join Waitlist'
    path='/recruit/contact'
  />
</Section>
