---
import Section from '@layouts/Section.astro'
import CallToAction from '@components/CallToAction.astro'
---

<Section>
  <CallToAction
    name=''
    title='Our Commitment to Trust and Transparency'
    description='Get Ahead with Tyup'
    buttonText='Join Waitlist'
    path='#'
  />
</Section>
