---
import Logo from '@components/Logo.astro'
import GradientButton from '@components/GradientButton.astro'
import Section from '@layouts/Section.astro'
---

<Section>
  <div
    class='flex flex-col items-center text-center border-b border-white/20 mt-2 py-10 lg:py-40'
  >
    <Logo name='' className='mb-4 lg:mb-8' width={30} />
    <h1 class='text-3xl lg:text-5xl mb-3 lg:mb-6'>
      Our Commitment to Trust and Transparency
    </h1>
    <p class='text-accent text-xl lg:text-2xl mb-8 lg:mb-10'>
      Get Ahead with Tyup
    </p>
    <div>
      <GradientButton text='Join Waitlist' path='#' />
    </div>
  </div>
</Section>
