---
// import { Image } from 'astro';
const {companies} = Astro.props;
import { Image } from 'astro:assets';
interface Companies {
    path: string;
}

const Companies1: Companies[] = [
    {

        path: '/redis.svg',
    },
    {

        path: '/redis.svg',
    },
    {

        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },{
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    },
    {
        path: '/redis.svg',
    }
];
---

<div class="flex flex-wrap gap-2">
    <!-- <h1>Hi</h1> -->
    {Companies1.map(()=>{
        return(

            <Image src="/redis.svg" alt="Hello " width={160} height={160}/>
        )

    })}



</div>