---
import { Image } from 'astro:assets'

// Assets
import tyup from '@assets/tyup-dark.svg'
import tyupMate from '@assets/tyup-mate.svg'
import tyupCampus from '@assets/tyup-campus.svg'
import tyupRecruit from '@assets/tyup-recruit.svg'

interface Props {
  name: string
  className?: string
  textSize?: string
  textColor?: string
}

const { name, className } = Astro.props

let img: ImageMetadata = tyup
switch (name) {
  case 'mate':
    img = tyupMate
    break
  case 'campus':
    img = tyupCampus
    break
  case 'recruit':
    img = tyupRecruit
    break
  default:
    break
}
---

<div class=`${className}`>
  <Image src={img} alt={`Tyup ${name}`} />
</div>
