---
import Section from '@layouts/Section.astro'

import AnimatedArrow from '@components/AnimatedArrow.astro'
import GlowBox from '@components/GlowBox.astro'
import GradientButton from '@components/GradientButton.astro'
import GradientText from '@components/GradientText.astro'
---

<Section>
  <div class='relative lg:grid lg:grid-cols-3 h-[80vh]'>
    <div class='flex flex-col lg:col-span-2 justify-center h-full'>
      <!-- Hero Heading -->
      <h1
        class='relative flex flex-col lg:text-6xl text-4xl font-bold items-center lg:items-start'
      >
        <div>
          <span>Showcase your</span>
          <GradientText text={' talent pool'} />
        </div>
        <div>
          <span>and win</span>
          <GradientText text={' recruiters.'} />
        </div>
      </h1>

      <!-- Laptop Subtitle -->
      <div class='relative my-8 lg:w-2/3 w-full items-center lg:items-left'>
        <p class='text-md text-accent lg:text-left text-center py-4'>
          Effortlessly organize and present your college's data, crafting
          tailored proposals that captivate corporate recruiters. Tyup
          streamlines data management, ensuring your college shines as the top
          choice for employers.
        </p>
        <div
          class='absolute inset-0 flex items-center justify-center z-[-1] lg:hidden'
        >
          <GlowBox />
        </div>
      </div>

      <!-- Explore Button -->
      <div class='flex lg:justify-start justify-center'>
        <div class='my-4 lg:w-60'>
          <GradientButton text='Contact Us' path='/campus/contact' />
        </div>
      </div>
    </div>
    <!-- Right Side -->
    <div class='relative gap-6 flex flex-col justify-center'>
      <div class='absolute inset-0 flex items-center justify-center z-[-1]'>
        <GlowBox size='h-[200px] w-[200px]' blur={182} />
      </div>
    </div>
    <div class='absolute bottom-4 left-1/2 right-1/2'>
      <AnimatedArrow />
    </div>
  </div>
</Section>
