---
import CallToAction from '@components/CallToAction.astro'
---

<!-- <Section> -->
<CallToAction
  name='recruit'
  title='Your End-to-End Automated Platform for Better, Faster Hiring'
  description='Revolutionize your hiring process with speed and precision. Our end-to-end automation delivers top talent for your organization effortlessly.'
  buttonText='Contact Us'
  path='#'
/>
<!-- </Section> -->
