---
import Header from '@components/Header.astro';

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/tyup-light.svg' />
    <meta name='generator' content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body class="px-16">
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  html {
    color: white;
    background: #0C0C14;
  }

  h1, h2 {
    font-weight: 700;
  }

</style>
